.ghostbutton {
    display: inline-block;
    width: 180px;
    padding: 8px;
    color: #fff;
    border: 2px solid #fff;
    text-align: center;
    outline: none;
    text-decoration: none;
    transition: background-color 0.2s ease-out,
             color 0.2s ease-out;
    float: left;
    font-family: "futura-pt",sans-serif;
    font-style: normal;
    font-weight: 700;
    text-transform: uppercase;
    margin-left: 0px;
    margin-top: 30px;
}

.ghostbutton:active, .ghostbutton:hover {
  background-color: #fff;
  color: #000;
  transition: background-color 0.3s ease-in,
              color 0.3s ease-in;
}
