$palettes: (
   news: (
      base:   rgb(243, 231, 93)
   ),
   wiki: (
      base:   rgb(58, 187, 254)
   ),
   help: (
      base:   rgb(103, 147, 245)
   ),
   opinion: (
      base:   rgb(157, 211, 172)
   ),
   conversation: (
      base:   rgb(223, 206, 174)
   ),
   preview: (
      base:   rgb(163, 190, 198)
   ),
   feature: (
      base:   rgb(248, 71, 56)
   ),
   gallery: (
      base:  rgb(227, 172, 214)
   ),
   review: (
      base:   rgb(227, 206, 97)
   ),
   trailer: (
      base:   rgb(255, 163, 20)
   )
);



@function palette($palette, $tone: 'base') {
    @return map-get(map-get($palettes, $palette), $tone);
}
