.Page-form,
.Page-form-au {
    position: relative;
    height: 600px;
    background: url(../img/fallout-assets/stripes-comp_bg.jpg) center bottom no-repeat;
    background-size: contain;
    margin-top: 50px;
    border: 3px solid #fff;
    margin-bottom: 50px
}

@media screen and (max-width:768px) {
    .Page-form,
    .Page-form-au {
        background-size: contain;
        background-position: top center;
        background-repeat: no-repeat;
        height: auto
    }
}

.Page-form-au {
    background-image: url(../img/comp_bg_au.jpg)
}


.Form-title {
    position: relative;
    z-index: 100;
    text-align: center;
    font-size: 14px;
    padding-top: 25px;
    font-family: "futura-pt-condensed";

    &:before {
        content:'';
        height: 22px;
        width: 47px;
        display: block;
        background: transparent url('../img/fallout-assets/vault-tec-icon-white.svg') no-repeat;
        margin: 0 auto 6px;
    }
}

.Form-box {
    width: 470px;
    height: 100%;
    display: inline-block;
    position: absolute;
    top: 0;
    right: 0;
    padding-right: 50px;
    text-transform: uppercase
}

.Form-box iframe {
    height: 500px;
    background-color: rgba(255, 255, 255, .1);
    padding: 10px;
    margin-top: 90px
}

.Form-box .checkboxes {
    padding: 10px 0 20px
}

.Form-box .checkboxes label {
    margin-bottom: 5px;
    cursor: pointer;
    font-size: 14px
}

.Form-box .checkboxes label span {
    vertical-align: 5px;
    font-family: "futura-pt",sans-serif;
    font-style: normal;
    font-weight: 700;
}

.Form-box input[type=checkbox],
.Form-box input[type=radio] {
    display: inline-block;
    width: 20px;
    height: 20px;
    outline: none;
    border: 1px solid #ffffff;
    padding: 0;
    margin: 0 15px 0 0;
    cursor: pointer;
    background: transparent;
    position: relative;
    -webkit-appearance: none;
    -moz-appearance: none
}

.Form-box input[type=radio] {
    border: 2px solid #ffffff;
    border-radius: 50%;
    height: 20px;
    width: 20px;
}

.Form-box input[type=checkbox]:checked,
.Form-box input[type=radio]:checked {
    background-color: rgba(255, 255, 255, 0)
}

.Form-box input[type=checkbox]:checked::before,
.Form-box input[type=radio]:checked::before {
    position: absolute;
    width: 100%;
    color: #fff;
    text-align: center
}

.Form-box input[type=checkbox]:checked::before {
    content: "✔";
    top: 2px
}

.Form-box input[type=radio]:checked::before {
    position: absolute;
    top: 3px;
    left: 3px;
    content: "";
    height: 10px;
    width: 10px;
    display: block;
    background-color: white;
    border-radius: 50%;
}

.Form-box .form-row {
    margin-bottom: 20px;
}

.Form-box .form-row label {
    font-size: 13px
}

.Form-box .form-row input,
.Form-box .form-row select {
    width: 100%;
    border: 1px solid #ffffff;
    background: transparent;
    color: #fff;
    text-transform: uppercase;
    font-size: 13px;
    font-weight: 700;
    letter-spacing: 1px;
    padding: 5px;
    font-family: "futura-pt",sans-serif;
    font-style: normal;
    font-weight: 400;
    padding-left: 8px;
}


.Form-info p.impact {
    font-family: "futura-pt",sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    text-transform: uppercase;
}

.Form-box .form-row input:focus,
.Form-box .form-row select:focus {
    border: 1px solid #fff
}

.Form-box .form-row .select {
    display: inline-block;
    position: relative
}

.Form-box .form-row .select select {
    display: inline-block;
    outline: none;
    cursor: pointer;
    border-radius: 0;
    color: #d4d4d4;
    padding-right: 30px;
    -webkit-appearance: none;
    -moz-appearance: none
}

.Form-box .form-row .select::after {
    content: "▾";
    position: absolute;
    top: 2px;
    right: 5px
}

.Form-box .cols {
    display: table;
    width: 100%
}

.Form-box .cols .col {
    display: table-cell;
    width: 50%;
    padding: 0 10px
}

.Form-box .form-row-dob .cols {
    width: auto
}

.Form-box .form-row-dob .cols .col {
    width: auto;
    padding: 3px
}

.Form-box .cols .col:first-child {
    padding-left: 0
}

.Form-box .cols .col:last-child {
    padding-right: 0
}

.Form-box label.checkbox {
    font-size: 11px;
    text-transform: none;
    display: table;
    width: 100%;
    color: #e6e6e6;
    letter-spacing: 0;
    margin-bottom: 10px;
    cursor: pointer
}

.Form-box label.checkbox .col {
    display: table-cell;
    vertical-align: middle
}

.Form-box .cta {
    text-align: center;
    padding-top: 10px;
}

.Form-box .cta button {
    border-radius: 0;
    background: #fff;
    padding: 10px 50px;
    color: #000;
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 1px;
    border: 1px solid #fff;
    cursor: pointer;
    font-family: "futura-pt",sans-serif;
    font-style: normal;
    font-weight: 700;
}

.Form-box .cta button:hover {
    background: transparent;
    color: #fff
}

.Form-box p.error,
.Form-box p.success {
    color: red;
    font-size: 14px;
    letter-spacing: 0;
    text-align: center
}

.Form-box p.success {
    color: #50ec2c;
    font-family: "futura-pt",sans-serif;
    font-weight: 700;
}

.Form-box .terms {
    text-align: center;
    padding-top: 10px
}

.Form-box .terms a {
    color: #fff;
    font-size: 12px
}

.Form-info {
    width: 420px;
    position: absolute;
    left: 40px;
    top: 385px;
}

.comp-prizing {
    width: 460px;
    position: absolute;
    top: 0px;
    padding-top: 30px;
    padding-left: 30px;

    @media screen and (max-width:768px) {
        width: 100%;
        padding: 8px;
        margin-top: 40px;
    }
}

.Form-info p {
    font-size: 13px;
    line-height: 1.6;
    margin-bottom: 1em;
    letter-spacing: 0;
}

.Form-info p strong {
    color: #fff
}

.Form-question {
    display: block;
    text-transform: uppercase;
    font-size: 14px;
    letter-spacing: 1px;
    line-height: 1.3;
    font-weight: 600;
    margin-bottom: 20px;
    padding-left: 45px;
    position: relative;
    margin-top: 105px;
    font-family: "futura-pt",sans-serif;
    font-weight: 700;
}

.Form-question:before {
    content: "Q.";
    position: absolute;
    left: 0;
    font-size: 25px;
    line-height: 1.1
}

@media screen and (max-width:768px) {
    .Form-title {
        font-size: 16px;
        padding-top: 20px
    }
    .Form-info {
        width: auto;
        position: static;
        padding: 0 15px;
        margin-top: 70%;
    }
    .Form-box {
        width: auto;
        display: block;
        position: static;
        padding: 0 15px 30px;
        margin-top: 40px
    }
    .Form-box .form-row {
        margin-bottom: 15px
    }
    .Form-box .form-row input,
    .Form-box .form-row select {
        padding: 10px 5px
    }
    .Form-box .form-row .select::after {
        top: 6px
    }
    .Form-box .checkboxes label {
        font-weight: 700;
        font-size: 13px;
        margin-bottom: 0;
        font-family: "futura-pt",sans-serif;
        font-style: normal;
        font-weight: 700;
        letter-spacing: 1px;
    }
    .Form-box .form-row-name {
        display: block
    }
    .Form-box .form-row-name .col {
        display: block;
        padding: 0;
        width: auto
    }
    .Form-box .form-row-name .col:first-child {
        margin-bottom: 15px
    }
    .Form-question {
        font-size: 13px;
        padding-left: 0;
        padding-bottom: 10px;
        border-bottom: 1px solid #ccc;
        margin-top: 80px
    }
    .Form-question::before {
        display: none;
    }
}
