

.map {
    position: absolute;
    width: 585px;
    left: 375px;
    top: 0px
}

.map .the-map {
    height: 260px;
    background: url(../img/character-sprite.png) no-repeat top center;
    background-size: 88%;
    margin-top: 210px;
}

.map-noob.map .the-map {
    background-position: 0 1px;
}

.map-player.map .the-map {
    background-position: 0 -258px
}

.map-pro.map .the-map {
    background-position: 0 -517px
}

.map ul.switch {
    list-style-type: none;
    display: table;
    padding: 0;
    margin: 0;
    width: 95%;
    position: relative;
    top: 230px;
    margin: 0 5px;
    border-top: 2px solid white;
    border-bottom: 2px solid white;
    padding: 20px 0;

    &:before {
        content: "";
        background: url('../img/fallout-assets/vault-tec-icon-white.svg') center top no-repeat;
        display: block;
        width: 66px;
        height: 22px;
        position: absolute;
        left: 50%;
        margin-left: -33px;
        top: -12px;
        background-color: black;

        @media screen and (max-width:768px) {
            display: none;
        }
    }
}

.map ul.switch li {
    display: table-cell;
    width: 33%;
    margin: 0
}

.map ul.switch li a {
    display: block;
    line-height: 1.4;
    padding: 0 10px;
    text-align: center;
    color: #ccc;
    text-transform: uppercase;
    letter-spacing: 1px;
    text-decoration: none;
    font-size: 12px;
    font-weight: 400;
    cursor: pointer;
    transition: all .2s linear;
    font-family: "futura-pt",sans-serif;
    font-style: normal;
    font-weight: 700;
}

.map ul.switch li.active a,
.map ul.switch li a:hover {
    color: #fff;
    text-shadow: 0 0 30px rgba(255, 255, 255, .8)
}

.map ul.switch li.active {
    position: relative
}

.map ul.switch li.active::after {
    content: "";
    position: relative;
    width: 90%;
    height: 4px;
    bottom: -22px;
    background-color: white;
    display: block;
    margin: auto;
}

@media screen and (max-width:768px) {
    .map {
        position: static;
        width: auto;
        margin-top: 30px
    }
    .map .the-map {
        display: none
    }
    .map ul.switch {
        margin: 0;
        position: static;
        width: 100%;
    }
    .map ul.switch li.active::before {
        display: none;
    }
    .map ul.switch li {
        vertical-align: middle;
        border-right: 1px solid #fff
    }
    .map ul.switch li:last-child {
        border-right: none
    }
    .map ul.switch li a {
        padding: 0 5px
    }
}
