.pre-order {
    width: auto;
    position: absolute;
    top: 0px;
    left: -210px;
    z-index: 99;

    @media screen and (max-width: 768px) {
        display: none;
    }

    a, img {
        display: block;
    }

    img {
        width: 180px;
    }
}
